.Home {
  margin: 0;
  padding: 0;
}

// Styles for Landing page

.landing {
  background-image: url("../images/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  overflow: hidden;

  .info-container {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0rem;
    padding: 11rem 9rem 0rem 7.4rem;
  }

  .info {
    padding: 2rem 2rem;
    h1 {
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 3.8rem;

      span {
        font-weight: 500;
      }
    }

    p {
      font-weight: 400;
      color: rgb(235, 232, 232);
      margin: 2rem 0 4rem;
    }

    .read-btn {
      margin-right: 1rem;
      padding: 1rem 1.7rem;
      border-radius: 10px;
      background-color: #49c0b6;
      transition: background-color 0.5s;
      color: white;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background-color: #017dc0;
      }
    }
    .service-btn {
      padding: 0.8rem 1.7rem;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: color 0.5s, background-color 0.5s;

      &:hover {
        cursor: pointer;
        color: #49c0b6;
        background-color: white;
      }
    }
  }

  .picture {
    img {
      border-radius: 50%;
      height: 440px;
    }
  }
}

// Styles for About on home page.

.About-home {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 9rem;

  .first-sec {
    padding-right: 2.4rem;
    h1 {
      font-weight: 500;
      font-size: 2.3rem;
      margin-bottom: 2rem;
      color: #3f3d56;
    }
    h4 {
      font-size: 1.3rem;
      color: #3f3d56;
      margin-bottom: 2rem;
    }
    p {
      color: gray;
      line-height: 1.7rem;
    }
  }

  .img-sec {
    img {
      height: 100%;
      width: 100%;
    }
  }
}

// Styles for solutions section.

.solutions {
  background-color: #f8f9fa;
  text-align: center;

  padding: 5rem 10rem;
  padding-bottom: 6rem;

  .title {
    color: #3f3d56;
    font-size: 2.1rem;
    margin-bottom: 0.6rem;
  }

  hr {
    background-color: rgb(114, 112, 112);
    width: 10%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    margin-bottom: 1.5rem;
  }

  .lead {
    margin: 0 12rem;
    margin-bottom: 3rem;
    color: #666568;
  }

  .cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.2rem;

    li {
      background-color: white;
      border-radius: 10px;
      padding: 2.3rem 2rem;
      box-shadow: 1px 2px 20px rgb(160, 158, 158);

      h1 {
        color: #49c0b6;
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
      }

      p {
        font-size: 0.95rem;
        margin-top: 1rem;
      }
    }
  }
}

// Styles for Stats/Facts section

.Facts {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://demo.w3layouts.com/demos_new/template_demo/29-02-2020/captivate-liberty-demo_Free/232105078/web/assets/images/stats_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  color: white;
  grid-template-columns: 2fr 3fr;
  padding: 5rem 9.5rem;
  margin-bottom: 6rem;

  .info {
    h1 {
      margin-bottom: 1.5rem;
    }
  }

  .stats {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3rem;

    li {
      text-align: center;

      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
