.Home {
  margin: 0;
  padding: 0;
}

.landing {
  background-image: url("../images/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  overflow: hidden;

  .info-container {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0rem;
    padding: 11rem 9rem 0rem 7.4rem;
  }

  .info {
    padding: 2rem 2rem;
    h1 {
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 3.8rem;

      span {
        font-weight: 500;
      }
    }

    p {
      font-weight: 400;
      color: rgb(235, 232, 232);
      margin: 2rem 0 4rem;
    }

    .read-btn {
      margin-right: 1rem;
      padding: 1rem 1.7rem;
      border-radius: 10px;
      background-color: #49c0b6;
      transition: background-color 0.5s;
      color: white;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background-color: #017dc0;
      }
    }
    .service-btn {
      padding: 0.8rem 1.7rem;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      transition: color 0.5s, background-color 0.5s;

      &:hover {
        cursor: pointer;
        color: #49c0b6;
        background-color: white;
      }
    }
  }

  .picture {
    img {
      border-radius: 50%;
      height: 440px;
    }
  }
}

@keyframes yourAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
    color: red;
  }
}
